@font-face {
    font-family: 'ClashDisplay-Variable';
    src: local("ClashDisplay-Variable"), url("ClashDisplay-Variable.woff") format("woff");
    font-weight: 200 700;
    font-display: swap;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'ClashDisplay-Extralight';
    src: url("/files/css/fonts/ClashDisplay-Extralight.woff") format("woff");
    font-weight: 200;
    font-display: swap;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'ClashDisplay-Light';
    src: url("/files/css/fonts/ClashDisplay-Light.woff2") format("woff2"), url("/musabhassan.com-1/files/cssfonts/ClashDisplay-Light.woff") format("woff"), url("/portfolio/fonts/ClashDisplay-Light.ttf") format("truetype");
    font-weight: 300;
    font-display: swap;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'ClashDisplay-Regular';
    src: local("ClashDisplay-Regular"), url("/files/css/fonts/ClashDisplay-Regular.woff") format("woff");
    font-weight: 400;
    font-display: swap;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'ClashDisplay-Medium';
    src: url("/files/css/fonts/ClashDisplay-Medium.woff2") format("woff2"), url("/files/css/fonts/ClashDisplay-Medium.woff") format("woff"), url("/musabhassan.com-1/files/css/fonts/ClashDisplay-Medium.ttf") format("truetype");
    font-weight: 500;
    font-display: swap;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'ClashDisplay-Semibold';
    src: url("/files/css/fonts/ClashDisplay-Semibold.woff2") format("woff2"), url("/files/css/fonts/ClashDisplay-Semibold.woff") format("woff"), url("/portfolio/fonts/ClashDisplay-Semibold.ttf") format("truetype");
    font-weight: 600;
    font-display: swap;
    font-style: normal;
  }
  
  
  /* b-- CUSTOMR WIDTH */
  .w-85 {
    width: 85% !important;
    padding: 0;
    margin: 0;
  }
  
  .w-15 {
    width: 15% !important;
  }
  
  .w-95 {
    width: 95% !important;
  }
  
  /* ==========================================================================
     0. ELEMENT
     ========================================================================== */
  /* 0.1. Body / Typography
     ========================================================================== */
  body {
    /* font-family: 'ClashDisplay-Regular'; */
    font-family: 'Neue Haas Grotesk Display Pro', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #71748d;
    color: #000;
    background-color: #efeff6;
    background-color: #000 !important;
    -webkit-font-smoothing: antialiased;
  }
  
  a{
      text-decoration: none;
  }

  @media screen 
  and (max-device-width: 600px) 
  and (min-device-width: 10px)  {
    #contentContainer .work-list ul .list-item {
      width: 75vw !important;
    }
    .letConnectTitle{
      font-size: 40px;
    }
    .fontSize20{
      font-size: 25px !important;
      margin-top:35px !important;
    }
    .copyRightText{
      font-size: 25px !important;
      margin-top: 30px !important;
    }
    .paragraph {
      line-height: 170% !important;
      margin-bottom: 30px !important;
    }
    .mailMeContainer{
      margin-top: 100px;
    }
    .socialLinksContainer{
      width: 100% !important;
    }
    .socialLinksContainer span{
      margin: 20px 0 !important;
    }
    .title span:nth-child(1){
      font-size: 4vh !important;
    }
    .title span:nth-child(3){
      font-size: 100px !important;
    }
    .title span:nth-child(5){
      font-size: 40px !important;
    }
    .title span:nth-child(7){
      font-size: 40px !important;
    }
    body .c-summary_list_item a{
      font-size: 30px !important;
    }
    .left-markerI{
      display: none !important;
    }
    .inf{
      font-family: 'ClashDisplay-Regular' !important;
      font-size: 2vh !important;
      line-height: 70px;
    }
    .designAndDevInfo{
      font-size: 1.5vh;
      line-height:2.2vh;
    }
    .leftSideLandingPage{
      width: 100% !important;
    }
    .rightSideLandingPage{
      display: none !important;
    }
  
    .title{
      font-size: 140px !important;
    }
    .myInfo{
      font-size: 40px !important;
      line-height: 80px !important;
      margin-top: 30px;
    }
    .socialLinksContainer{
 /*      display: none !important; */
        margin-top: 50px !important;
    }
    .spanII{
      margin-top: 10px !important;
    }
    #sayHiMessage svg{
      width: 40px !important;
      height: 40px !important;
    }
}


/* PRELOADER ANIMATION */
.wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loadingText {
  color: #E64D3D;
  display: inline-block;
  margin-left: 5px;
  font-size: 50px;
}

.bounceball {
  position: relative;
  display: inline-block;
  height: 37px;
  width: 15px;
  margin-right: 5px;
}
.bounceball:before {
  position: absolute;
  content: "";
  display: block;
  top: 0;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #E64D3D;
  transform-origin: 50%;
  -webkit-animation: bounce 500ms alternate infinite ease;
          animation: bounce 500ms alternate infinite ease;
}

@-webkit-keyframes bounce {
  0% {
    top: 30px;
    height: 5px;
    border-radius: 60px 60px 20px 20px;
    transform: scaleX(2);
  }
  35% {
    height: 15px;
    border-radius: 50%;
    transform: scaleX(1);
  }
  100% {
    top: 0;
  }
}

@keyframes bounce {
  0% {
    top: 30px;
    height: 5px;
    border-radius: 60px 60px 20px 20px;
    transform: scaleX(2);
  }
  35% {
    height: 15px;
    border-radius: 50%;
    transform: scaleX(1);
  }
  100% {
    top: 0;
  }
}

/* Custom Margins */
.mtd-2{
  margin-top: 15px !important;
  }
  .mtd-6{
  margin-top: 90px !important;
  }
  .mtd-4{
  margin-top: 60px !important;
  }
  /* CUSTOM WIDTH */
  .wd-50{
  width: 50% !important;
  }
  .wd-30{
  width: 30% !important;
  }
  .wd-100{
  width: 100% !important;
  }
  .wd-75{
     width:75%
  }
  .wd-25{
     width:25%;
  }
  .textAlignCenter{
  text-align: center !important;
  }
  /* CUSTOM PORTFOLIO TAG */
  .back-parallax-wrapperI h2{
     position: absolute;
     left: 50%;
     bottom: -100%;
     transform: translate(-50%,-100%) !important;
     /* bottom: 0; */
     font-size: 18vw;
     font-family: 'ClashDisplay-Medium';
     color: #DFE3E8;
  }
  .justifyContentCenter{
  justify-content: center !important;
  }
  .alignItemsEnd{
  align-items: flex-end !important;
  }
  .flexColumn{
     flex-direction: column !important;
  }
  .hide{
     display: none !important;
  }
  .fontSize100{
     font-size: 100px !important;
     margin-top: 20px !important;
  }
  .fontSize35{
     font-size: 35px !important;
  }
  .fontSize20{
     font-size: 20px !important;
     margin-top: 20px !important;
  }
  .justifyContentAround{
     justify-content: space-around !important;
  }
  #listing-container .secondary-image-wrapper img{
     width: 80%;
  }
  
  .intialSection{
    background-image: url('https://uploads-ssl.webflow.com/5c3b9a6b6bc47198ec041cad/5e41e73ec2af60cf5cc94e67_website%20landing.png');
    background-image: url('https://www.whatsappprofiledpimages.com/wp-content/uploads/2021/08/Latest-White-Background-Images-pics-download.gif');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: -1;
    height: 100vh;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
  } 

  .designAndDevInfo{
    position: absolute;
    bottom: 100px;
    line-height: 25px;
  }
  .designAndDevInfo span:nth-child(1){
    font-weight: 800;
  }

  .landingPageImage{
    width:40% !important; height: 100%; object-fit: cover;
    position: absolute;
    right: 0;
    border-radius: 12px;

  }
  .sayHiCon{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .connectBtn{
    background-color: #000;
    color: #fff;
    width: 200px;
    height: 50px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
  }

  .divide-link a{
    padding-bottom:5px;
    text-transform: capitalize;
    border-bottom:1px solid grey;
    font-weight: 600;
    letter-spacing: .1vh;
  }

/*   .back-title:nth-child(1){
    display: none;
  } */
.messageContainer{
    position: absolute;
    top: 150px;
    width: 400px;
    height: 400px;
    border-radius: 22px;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #fff;
    -webkit-box-shadow: 4px 4px 17px -3px rgba(171,171,171,1);
    -moz-box-shadow: 4px 4px 17px -3px rgba(171,171,171,1);
    box-shadow: 4px 4px 17px -3px rgba(171,171,171,1);
}